.card-body-spacing {
  display: flex;
  justify-content: space-around;
}

.appointment-card {
  background-color: #e7ebef;
}

.day {
  font-size: medium;
  font-variant: all-petite-caps;
  font-weight: 600;
}